
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color:black;
    font-family:'Poppins', sans-serif;
    color: white;
    line-height: 1.6;
}
.container{
    max-width: 740px;
    margin: auto;
    text-align: center;
}
.card{

    color: black;
    border-radius: 15px;
    padding: 30px 40px;
    margin: 20px 0;
    position: relative;
}
.card h2{
    background-color: red;
    width: 50px;
    text-align: center;
    border-radius: 40px;
    position: relative;
    bottom: 30px;
    right: 43px;
}
.delete{
    position: relative;
    bottom: 91px;
    left: 394px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: red;
}
